header {
    background-color: rgb(238, 241, 241);
}

body {
    background-color: rgb(19, 5, 220);
}

.estudante-div {
    text-align: center;
    padding: 16px 0;
}

.estudante-titulo {
    text-align: center;
    padding: 16px 0;
}

.estudante-imagem {
    width: 80%;       /* cuidado com SEU tamanho */
}

.estudante-icone {
    width: 5px;
    padding: 4px 8px;
}

footer {
    background-color: rgb(36, 6, 158);
}

.rodape {
    background-color: #2108a0;
    text-align: center;
}