header {
    background-color: rgb(237, 11, 11);
}

body {
    background-color: rgb(19, 5, 220);
}

.estudante-div {
    text-align: center;
    padding: 16px 0;
}

.estudante-titulo {
    text-align: center;
    padding: 16px 0;
}

.estudante-imagem {
    width: 80%;       /* cuidado com SEU tamanho */
}

.estudante-icone {
    width: 5px;
    padding: 4px 8px;
}

footer {
    background-color: rgb(9, 147, 245);
}

.rodape {
    background-color: #2108a0;
    text-align: center;
}
:fullscreen{
    background-color:  rgb(9, 147, 245);
}